.container{
                    
    height: 100vh;
    width: 200vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.content {
    scroll-snap-align: center;
    height: 100;
    width: 100%;
}